#txt_upper
{
    font-size: 50px;
    font-family: arial;
    color: white;
    font-weight: bold;
    
}

#txt_container
{
    margin-top: -5px;
    text-align: center;
}

#btn_field
{
    margin-top: 10px;
    margin-left: 13px;
    border-style: none;
    border-radius: 10px;
    background-color: rgba(254, 255, 254, 0.11);
    width: 97%;
    height: 87%;
}

.btn_select
{
    width: 150px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border-style: none;
    display: inline-block;
    margin-left: 33px;
    margin-top: 33px;
    cursor: pointer;
}

.btn_select:hover
{
    background-color: rgb(236, 255, 237);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}


.form_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}



#select_field
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(2, 205, 66, 0.87), rgba(0, 104, 20, 0.89));
    padding: 20px;
    width:1000px;
    height: 600px;
    border-style: none;
    border-radius: 15px;
    box-shadow:0 2px 10px rgba(3, 40, 0, 0.412);

}


