body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}
h2 {
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}

.form-group2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #794d4d;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.login-link {
    width: 45%;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.login-link:hover {
    background-color: #0056b3;
}

.main-link {
    width: 45%;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 51%;
    margin-top: -53px;
}
.main-link:hover {
    background-color: #b30000;
}
.main-link-2 {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.main-link-2:hover {
    background-color: #b30000;
}




