
h2 {
    text-align: center;
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}

.form-group2 {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #794d4d;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.login-link {
    width: 45%;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}
.login-link:hover {
    background-color: #0056b3;
}

.add_article_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 17, 17, 0.49);
    display: none;
    z-index: 1000;
}

.add_author_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

.add_publisher_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

.form-container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

}
.modal-content {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.close {
    float: right;
    cursor: pointer;
    font-size: 24px;
}

.modal-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 17, 17, 0.49);
    display: none;
    z-index: 1000;

}
.modal-iframe1, .modal-iframe2, .modal-iframe3, .modal-iframe4, .modal-iframe5 , .modal-iframe6{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 17, 17, 0.49);
    display: none;
    z-index: 1000;
}

#pageCount
{
    width: 30%;
    height: 25px;
}

#yearOfPublish
{
    width: 30%;
    height: 25px;
}

#1
{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(18, 17, 17, 0.49);
}




